In [3]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
import time 

start = time.time() ## точка отсчета времени

roll_test2 = pd.read_csv("CSV/Stand_01_02_03_04_05_Force_apr.txt", sep = ";",header = 1)

end = time.time() - start ## собственно время работы программы

print(end) ## вывод времени

192.53259301185608

In [3]:
roll_test2["time"] = pd.to_datetime(roll_test2["time"], format='mixed',dayfirst=True)

In [4]:
roll_test2

,time,STAND1_UP_FORCE,STAND1_RIGHT_FORCE,STAND1_LEFT_FORCE,STAND2_UP_FORCE,STAND2_RIGHT_FORCE,STAND2_LEFT_FORCE,STAND3_UP_FORCE,STAND3_RIGHT_FORCE,STAND3_LEFT_FORCE,STAND4_UP_POS,STAND4_RIGHT_POS,STAND4_LEFT_POS,STAND5_UP_POS,STAND5_RIGHT_POS,STAND5_LEFT_POS
0,2023-04-01 05:17:07.213,"4379,97","4505,84","4316,57","3853,33","3886,59","4189,24","2731,37","2885,99","2699,74","70,5363","69,0904","76,8762","91,0779","96,1567","86,928"
1,2023-04-01 05:17:07.263,"4365,26","4507,91","4311,91","3875,95","3834,68","4169,27","2878,98","2906,73","2679,89","70,5378","69,0908","76,8761","91,0793","96,1579","86,9301"
2,2023-04-01 05:17:07.313,"4376,61","4516,81","4331,31","3887,6","3821,13","4148,52","2705,19","2936,64","2715,34","70,5377","69,0907","76,8762","91,0799","96,1602","86,9302"
3,2023-04-01 05:17:07.363,"4376,87","4519,05","4350,92","3904,7","3813,96","4150,39","2818,12","2937,02","2729,95","70,5379","69,0915","76,8769","91,0792","96,1595","86,9295"
4,2023-04-01 05:17:07.413,"4404,9","4535,8","4350,96","3915,12","3842,35","4166,22","2858,22","2945,16","2761,55","70,5382","69,091","76,8765","91,0788","96,1586","86,9291"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51686116,2023-05-01 03:08:53.013,"10,1915","0,756159","-73,7353","-41,3392","13,607","-15,5215","-26,1677","-64,9585","-154,886","66,0224","63,9428","71,9232","81,0542","87,1547","77,4345"
51686117,2023-05-01 03:08:53.063,"16,1782","2,53277","-21,9325","-44,3813","14,232","-13,8729","-24,5292","-57,8341","-143,848","66,0222","63,9429","71,9231","81,0544","87,1541","77,4342"
51686118,2023-05-01 03:08:53.113,"9,72073","-3,11684","-102,096","-48,8332","15,7908","-16,0128","-24,0669","-62,2993","-151,522","66,0222","63,9428","71,9231","81,0544","87,1542","77,4344"
51686119,2023-05-01 03:08:53.163,"7,4711","-3,52034","-61,427","-55,8622","15,181","-18,2216","-25,9212","-57,2173","-155,734","66,0223","63,9427","71,9231","81,0545","87,1544","77,4348"
51686120,2023-05-01 03:08:53.213,"10,4843","-1,36677","-70,1387","-49,0059","17,5862","-14,1145","-25,1147","-63,7326","-137,899","66,022","63,9429","71,9235","81,0549","87,1549","77,4348"

In [5]:
roll_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51686121 entries, 0 to 51686120
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   time                datetime64[ns]
 1   STAND1_UP_FORCE     object
 2   STAND1_RIGHT_FORCE  object
 3   STAND1_LEFT_FORCE   object
 4   STAND2_UP_FORCE     object
 5   STAND2_RIGHT_FORCE  object
 6   STAND2_LEFT_FORCE   object
 7   STAND3_UP_FORCE     object
 8   STAND3_RIGHT_FORCE  object
 9   STAND3_LEFT_FORCE   object
 10  STAND4_UP_POS       object
 11  STAND4_RIGHT_POS    object
 12  STAND4_LEFT_POS     object
 13  STAND5_UP_POS       object
 14  STAND5_RIGHT_POS    object
 15  STAND5_LEFT_POS     object
dtypes: datetime64[ns](1), object(15)
memory usage: 6.2+ GB

In [6]:
roll_test2.time.max()

Timestamp('2023-05-01 03:08:53.213000')

In [7]:
roll_test2.index = roll_test2.time

In [8]:
roll_test2.drop(columns=['time'],inplace = True)

In [9]:
roll_test2

,STAND1_UP_FORCE,STAND1_RIGHT_FORCE,STAND1_LEFT_FORCE,STAND2_UP_FORCE,STAND2_RIGHT_FORCE,STAND2_LEFT_FORCE,STAND3_UP_FORCE,STAND3_RIGHT_FORCE,STAND3_LEFT_FORCE,STAND4_UP_POS,STAND4_RIGHT_POS,STAND4_LEFT_POS,STAND5_UP_POS,STAND5_RIGHT_POS,STAND5_LEFT_POS
time,,,,,,,,,,,,,,,
2023-04-01 05:17:07.213,"4379,97","4505,84","4316,57","3853,33","3886,59","4189,24","2731,37","2885,99","2699,74","70,5363","69,0904","76,8762","91,0779","96,1567","86,928"
2023-04-01 05:17:07.263,"4365,26","4507,91","4311,91","3875,95","3834,68","4169,27","2878,98","2906,73","2679,89","70,5378","69,0908","76,8761","91,0793","96,1579","86,9301"
2023-04-01 05:17:07.313,"4376,61","4516,81","4331,31","3887,6","3821,13","4148,52","2705,19","2936,64","2715,34","70,5377","69,0907","76,8762","91,0799","96,1602","86,9302"
2023-04-01 05:17:07.363,"4376,87","4519,05","4350,92","3904,7","3813,96","4150,39","2818,12","2937,02","2729,95","70,5379","69,0915","76,8769","91,0792","96,1595","86,9295"
2023-04-01 05:17:07.413,"4404,9","4535,8","4350,96","3915,12","3842,35","4166,22","2858,22","2945,16","2761,55","70,5382","69,091","76,8765","91,0788","96,1586","86,9291"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-01 03:08:53.013,"10,1915","0,756159","-73,7353","-41,3392","13,607","-15,5215","-26,1677","-64,9585","-154,886","66,0224","63,9428","71,9232","81,0542","87,1547","77,4345"
2023-05-01 03:08:53.063,"16,1782","2,53277","-21,9325","-44,3813","14,232","-13,8729","-24,5292","-57,8341","-143,848","66,0222","63,9429","71,9231","81,0544","87,1541","77,4342"
2023-05-01 03:08:53.113,"9,72073","-3,11684","-102,096","-48,8332","15,7908","-16,0128","-24,0669","-62,2993","-151,522","66,0222","63,9428","71,9231","81,0544","87,1542","77,4344"
2023-05-01 03:08:53.163,"7,4711","-3,52034","-61,427","-55,8622","15,181","-18,2216","-25,9212","-57,2173","-155,734","66,0223","63,9427","71,9231","81,0545","87,1544","77,4348"
2023-05-01 03:08:53.213,"10,4843","-1,36677","-70,1387","-49,0059","17,5862","-14,1145","-25,1147","-63,7326","-137,899","66,022","63,9429","71,9235","81,0549","87,1549","77,4348"

In [13]:
roll_test2["STAND1_UP_FORCE"] = roll_test2["STAND1_UP_FORCE"].str.replace(",",".").astype('float32')

In [15]:
roll_test2["STAND1_UP_FORCE"].rolling('900s', min_periods=1).max()

time
2023-04-01 05:17:07.213    4379.970215
2023-04-01 05:17:07.263    4379.970215
2023-04-01 05:17:07.313    4379.970215
2023-04-01 05:17:07.363    4379.970215
2023-04-01 05:17:07.413    4404.899902
                              ...
2023-05-01 03:08:53.013      33.172600
2023-05-01 03:08:53.063      33.172600
2023-05-01 03:08:53.113      33.172600
2023-05-01 03:08:53.163      33.172600
2023-05-01 03:08:53.213      33.172600
Name: STAND1_UP_FORCE, Length: 51686121, dtype: float64

In [4]:
pipe_sort_info_p1 = pd.read_excel("Add_files/Выгрузка сортамент апрель-май СТЗ Т1 (1).xlsx")
pipe_sort_info_p2 = pd.read_csv("Add_files/Сортамент FQM 1.06.2023-1.09.2023.csv")
pipe_sort_info_p2.drop(columns=["Смена"],inplace=True)
pipe_sort_info_p2.rename(columns={"Начало прокатки": "Начало проката", "Конец прокатки": "Конец проката"},inplace = True)
pipe_sort_info = pd.concat([pipe_sort_info_p1,pipe_sort_info_p2], ignore_index=True)
pipe_sort_info.drop(columns=["Id"],inplace=True)

In [5]:
pipe_sort_info.columns

Index(['Начало проката', 'Конец проката', 'Номер плавки', 'Марка стали',
       'Диаметр', 'Толщина стенки'],
      dtype='object')

In [96]:
pipe_sort_info.head()

,Начало проката,Конец проката,Номер плавки,Марка стали,Диаметр,Толщина стенки
0,2023-04-01 00:00:17.877+00,2023-04-01 00:00:30.47+00,1874,Д,219.08,10.16
1,2023-04-01 00:01:02.844+00,2023-04-01 00:01:15.422+00,1874,Д,219.08,10.16
2,2023-04-01 00:01:57.916+00,2023-04-01 00:02:10.485+00,1874,Д,219.08,10.16
3,2023-04-01 00:02:42.707+00,2023-04-01 00:02:55.324+00,1874,Д,219.08,10.16
4,2023-04-01 00:03:31.776+00,2023-04-01 00:03:44.363+00,1874,Д,219.08,10.16

In [97]:
pipe_sort_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166493 entries, 0 to 166492
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Начало проката  166493 non-null  object
 1   Конец проката   166493 non-null  object
 2   Номер плавки    166493 non-null  int64
 3   Марка стали     163075 non-null  object
 4   Диаметр         166493 non-null  float64
 5   Толщина стенки  166493 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.6+ MB

In [6]:
pipe_sort_info["Начало проката"] = pipe_sort_info["Начало проката"].apply(lambda x: pd.to_datetime(x[:-3]))
pipe_sort_info["Конец проката"] = pipe_sort_info["Конец проката"].apply(lambda x: pd.to_datetime(x[:-3]))

In [7]:
pipe_sort_info["Номер плавки"] = pipe_sort_info["Номер плавки"].astype('int32')
pipe_sort_info["Марка стали"] = pipe_sort_info["Марка стали"].astype(str)
pipe_sort_info["Диаметр"] = pipe_sort_info["Диаметр"].astype('float32')
pipe_sort_info["Толщина стенки"] = pipe_sort_info["Толщина стенки"].astype('float32')

In [8]:
pipe_sort_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166493 entries, 0 to 166492
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Начало проката  166493 non-null  datetime64[ns]
 1   Конец проката   166493 non-null  datetime64[ns]
 2   Номер плавки    166493 non-null  int32
 3   Марка стали     166493 non-null  object
 4   Диаметр         166493 non-null  float32
 5   Толщина стенки  166493 non-null  float32
dtypes: datetime64[ns](2), float32(2), int32(1), object(1)
memory usage: 5.7+ MB

In [11]:
pipe_sort_info["Номер плавки"].rolling(5, min_periods=1).std()

0         NaN
1         0.0
2         0.0
3         0.0
4         0.0
         ...
166488    0.0
166489    0.0
166490    0.0
166491    0.0
166492    0.0
Name: Номер плавки, Length: 166493, dtype: float64

In [12]:
pipe_sort_info["Номер плавки"].rolling(5, min_periods=1).median()

0         1874.0
1         1874.0
2         1874.0
3         1874.0
4         1874.0
           ...
166488    5012.0
166489    5012.0
166490    5012.0
166491    5012.0
166492    5012.0
Name: Номер плавки, Length: 166493, dtype: float64

In [13]:
pipe_sort_info.head()

,Начало проката,Конец проката,Номер плавки,Марка стали,Диаметр,Толщина стенки
0,2023-04-01 00:00:17.877,2023-04-01 00:00:30.470,1874,Д,219.080002,10.16
1,2023-04-01 00:01:02.844,2023-04-01 00:01:15.422,1874,Д,219.080002,10.16
2,2023-04-01 00:01:57.916,2023-04-01 00:02:10.485,1874,Д,219.080002,10.16
3,2023-04-01 00:02:42.707,2023-04-01 00:02:55.324,1874,Д,219.080002,10.16
4,2023-04-01 00:03:31.776,2023-04-01 00:03:44.363,1874,Д,219.080002,10.16

In [19]:
pipe_sort_info["Начало проката"] = pipe_sort_info["Начало проката"]+ pd.DateOffset(hours=5)
pipe_sort_info["Конец проката"] = pipe_sort_info["Конец проката"]+ pd.DateOffset(hours=5)

0        2023-04-01 05:00:17.877
1        2023-04-01 05:01:02.844
2        2023-04-01 05:01:57.916
3        2023-04-01 05:02:42.707
4        2023-04-01 05:03:31.776
                   ...
166488   2023-09-01 04:56:42.902
166489   2023-09-01 04:57:25.513
166490   2023-09-01 04:58:07.803
166491   2023-09-01 04:58:50.394
166492   2023-09-01 04:59:54.075
Name: Начало проката, Length: 166493, dtype: datetime64[ns]

In [20]:
?pd.merge

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | AnyArrayLike | None' = None,
    left_on: 'IndexLabel | AnyArrayLike | None' = None,
    right_on: 'IndexLabel | AnyArrayLike | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame or named Series
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\user\appdata\local\programs\python\python311\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

In [21]:
DF23_p1 = pd.read_excel("Add_files/Анализ простоев УГП 2023 (по июнь).xlsx",header = 1)
DF23_p2 = pd.read_excel("Add_files/Анализ простоев УГП и.нь-сентябрь.xlsx",header = 1)
DF_ALL = pd.concat([DF23_p1, DF23_p2], ignore_index=True)
DF_ALL["Участок"] = DF_ALL["Участок"].fillna(method='ffill')
DF_ALL = DF_ALL.where(DF_ALL["Участок"] =="LD41: Непрерывный стан/стан-извлекатель").dropna().reset_index(drop=True)
DF_ALL = DF_ALL.where(DF_ALL["Причина простоя"] =="извлечение недоката").dropna().reset_index(drop=True)
DF_ALL = DF_ALL[["Дата","Продол., час:мин","Причина простоя"]]
DF_ALL

                  Дата Продол., час:мин      Причина простоя
0  2023-01-06 05:30:00            00:40  извлечение недоката
1  2023-01-25 00:30:00             2:10  извлечение недоката
2  2023-02-02 22:32:00            00:40  извлечение недоката
3  2023-02-05 08:47:00             2:40  извлечение недоката
4  2023-02-16 04:29:00            00:19  извлечение недоката
5  2023-03-14 23:24:00             1:00  извлечение недоката
6  2023-03-16 23:37:00            00:20  извлечение недоката
7  2023-03-18 20:00:00             3:00  извлечение недоката
8  2023-03-30 13:00:00            00:32  извлечение недоката
9  2023-04-14 14:37:00            00:29  извлечение недоката
10 2023-04-24 01:50:00            00:50  извлечение недоката
11 2023-05-02 23:52:00            00:15  извлечение недоката
12 2023-05-10 13:55:00            00:35  извлечение недоката
13 2023-05-10 23:36:00            00:23  извлечение недоката
14 2023-05-11 20:37:00             2:00  извлечение недоката
15 2023-05-13 17:09:00             2:51  извлечение недоката
16 2023-06-17 06:52:00            00:48  извлечение недоката
17 2023-06-17 06:52:00            00:48  извлечение недоката
18 2023-07-10 05:30:00             1:00  извлечение недоката
19 2023-07-12 04:20:00             1:15  извлечение недоката
20 2023-07-16 14:28:00            00:46  извлечение недоката
21 2023-07-17 11:13:00            00:27  извлечение недоката
22 2023-08-22 00:03:00            00:30  извлечение недоката
23 2023-08-22 19:13:00            00:47  извлечение недоката
24 2023-08-22 20:00:00            00:30  извлечение недоката
25 2023-09-04 05:53:00            00:10  извлечение недоката
26 2023-09-05 04:31:00             1:19  извлечение недоката
27 2023-09-12 00:23:00            00:50  извлечение недоката
28 2023-09-17 09:18:00            00:57  извлечение недоката

In [22]:
DF_ALL["Дата"] = DF_ALL["Дата"].apply(lambda x: pd.to_datetime(x))

In [24]:
DF_ALL.index = DF_ALL["Дата"]

In [42]:
roll_list["Начало проката"].dt.round("50ms")

0        2023-04-01 00:00:17.900
1        2023-04-01 00:01:02.850
2        2023-04-01 00:01:57.900
3        2023-04-01 00:02:42.700
4        2023-04-01 00:03:31.800
                   ...
166488   2023-08-31 23:56:42.900
166489   2023-08-31 23:57:25.500
166490   2023-08-31 23:58:07.800
166491   2023-08-31 23:58:50.400
166492   2023-08-31 23:59:54.100
Name: Начало проката, Length: 166493, dtype: datetime64[ns]

In [26]:
roll_list = pd.merge(pipe_sort_info,DF_ALL,how='left',left_on="Начало проката",right_on=DF_ALL.index)

In [27]:
roll_list

,Начало проката,Конец проката,Номер плавки,Марка стали,Диаметр,Толщина стенки,Дата,"Продол., час:мин",Причина простоя
0,2023-04-01 00:00:17.877,2023-04-01 00:00:30.470,1874,Д,219.080002,10.16,NaT,NaN,NaN
1,2023-04-01 00:01:02.844,2023-04-01 00:01:15.422,1874,Д,219.080002,10.16,NaT,NaN,NaN
2,2023-04-01 00:01:57.916,2023-04-01 00:02:10.485,1874,Д,219.080002,10.16,NaT,NaN,NaN
3,2023-04-01 00:02:42.707,2023-04-01 00:02:55.324,1874,Д,219.080002,10.16,NaT,NaN,NaN
4,2023-04-01 00:03:31.776,2023-04-01 00:03:44.363,1874,Д,219.080002,10.16,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...
166488,2023-08-31 23:56:42.902,2023-08-31 23:56:54.652,5012,Д,244.479996,7.92,NaT,NaN,NaN
166489,2023-08-31 23:57:25.513,2023-08-31 23:57:37.193,5012,Д,244.479996,7.92,NaT,NaN,NaN
166490,2023-08-31 23:58:07.803,2023-08-31 23:58:19.484,5012,Д,244.479996,7.92,NaT,NaN,NaN
166491,2023-08-31 23:58:50.394,2023-08-31 23:59:02.074,5012,Д,244.479996,7.92,NaT,NaN,NaN
166492,2023-08-31 23:59:54.075,2023-09-01 00:00:05.805,5012,Д,244.479996,7.92,NaT,NaN,NaN

In [105]:
j = 0
k = len(DF_ALL)
pipe_sort_info["Target"] = 0
pipe_sort_info["Timedelta_bw_n_t"] = -1
pipe_sort_info["Продол., час:мин"] = ""	
pipe_sort_info["Причина простоя"] = ""
for i in range(len(pipe_sort_info)):
    if j >= k:
        break
    if (DF_ALL["Дата"][j] > pipe_sort_info["Конец проката"][i]):
        pipe_sort_info["Timedelta_bw_n_t"][i] = (DF_ALL["Дата"][j] - pipe_sort_info["Конец проката"][i])
        if pipe_sort_info["Timedelta_bw_n_t"][i] <= pd.Timedelta(1, "d"):            
            pipe_sort_info["Target"][i] = 1
            pipe_sort_info["Продол., час:мин"][i] = DF_ALL["Продол., час:мин"][j]
            pipe_sort_info["Причина простоя"][i] = DF_ALL["Причина простоя"][j]
    else:         
        j+=1

In [106]:
pipe_sort_info.iloc[15892]

Начало проката      2023-04-14 14:35:57.163000
Конец проката       2023-04-14 14:36:12.900000
Номер плавки                              2092
Марка стали                              09Г2С
Диаметр                                  325.0
Толщина стенки                             8.0
Target                                       1
Timedelta_bw_n_t        0 days 00:00:47.100000
Продол., час:мин                         00:29
Причина простоя            извлечение недоката
Name: 15892, dtype: object

In [107]:
pipe_sort_info["Target"].value_counts()

Target
0    154509
1     11984
Name: count, dtype: int64

In [109]:
pipe_sort_info["Target"] = pipe_sort_info["Target"].astype('int8')

In [110]:
pipe_sort_info["Target"].value_counts()

Target
0    154509
1     11984
Name: count, dtype: int64

In [111]:
pipe_sort_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166493 entries, 0 to 166492
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Начало проката    166493 non-null  datetime64[ns]
 1   Конец проката     166493 non-null  datetime64[ns]
 2   Номер плавки      166493 non-null  int32
 3   Марка стали       166493 non-null  object
 4   Диаметр           166493 non-null  float32
 5   Толщина стенки    166493 non-null  float32
 6   Target            166493 non-null  int8
 7   Timedelta_bw_n_t  166493 non-null  object
 8   Продол., час:мин  166493 non-null  object
 9   Причина простоя   166493 non-null  object
dtypes: datetime64[ns](2), float32(2), int32(1), int8(1), object(4)
memory usage: 9.7+ MB

In [114]:
pipe_sort_info.to_csv("CSV/under_roll_linked_to_pipe_sort_v0.csv")